In [1]:
from suricate.dbconnectors.esconnectornew import EsConnectorNew
from suricate.data.companies import getleft
from elasticsearch import Elasticsearch
e = Elasticsearch()
import pandas as pd

In [2]:
esc = EsConnectorNew(index='right', client=e, scoreplan={
        'name': {
            'type': 'FreeText'
        },
        'street': {
            'type': 'FreeText'
        },
        'city': {
            'type': 'FreeText'
        },
        'duns': {
            'type': 'Exact'
        },
        'postalcode': {
            'type': 'FreeText'
        },
        'countrycode': {
            'type': 'Exact'
        }
    })

In [12]:
X = getleft(nrows=20)

In [21]:
from elasticsearch.exceptions import RequestError
goodmatches = []
badmatches = []
for i in X.index:
    try:
        r = esc.search_record(X.loc[i])
        goodmatches.append(i)
    except RequestError:
        badmatches.append(i)
print(badmatches)

['f2e19b58', '303a4b5d', '78b4a267', '9acc114b', '8b5d81b9', '39e80128', 'b5729da0', 'dcc308de', 'a029fb9a', '680f5a62']

In [22]:
X.loc[badmatches]

,name,street,city,postalcode,duns,countrycode
ix,,,,,,
f2e19b58,altron gmbh co kg,10 gaustr,lehrte,31275,315672964.0,DE
303a4b5d,muehlinghaus hildesheim,klingelholl,wuppertal,42281,319390084.0,DE
78b4a267,buerklin ohg,80 am wehrhahn,dusseldorf,40211,316757657.0,DE
9acc114b,ats gmbh,14 schanzenstr,waldbrol,51545,323710764.0,DE
8b5d81b9,nespresso deutschland gmbh,23 speditionstr,dusseldorf,40221,333868649.0,DE
39e80128,alexander speith gmbh co kg,14 bahnhofstr,varel,26316,319220083.0,DE
b5729da0,brklin ohg,41 schillerstr,munich,80336,316757657.0,DE
dcc308de,drei bond gmbh,17 carl zeiss ring,ismaning,85737,319143681.0,DE
a029fb9a,delta computer products gmbh,4 rntgenstr,reinbek,21465,31634716.0,DE
680f5a62,genkinger hubtex gmbh,albstrae,munsingen,72525,332679625.0,DE

In [23]:
X.loc[goodmatches]

,name,street,city,postalcode,duns,countrycode
ix,,,,,,
1a6ccbe5,vri gmbh,wilhelm maybach str,ellwangen,73479,NaN,DE
b3d57f9d,aeroflex ltd,monks brook industrial park,chandler s ford,so534ra,NaN,GB
fe5db42f,le joint francais,centre administratif,thure,86540,NaN,FR
1b69ccb6,nespresso deutschland gmbh,speditionsstrae,dusseldorf,40221,NaN,DE
7a037111,dr ursula matschke,33 emilienstr,stuttgart,70563,NaN,DE
5e02efdb,bozic tours,32 zinglerstr,ulm,89077,NaN,DE
6c39db4f,natixis factor,1012 avenue winston churchill,charenton le pont,94220,NaN,FR
0259216a,hotel villa hentzel,bauhausstr,weimar,99423,NaN,DE
4c115719,hamilton sundstrand aerospace,4747 harrison ave,rockford,61108-7929,NaN,US
d6557d2d,maximilian wigger suttner,jahnstr,ulm,89073,NaN,DE

In [4]:
for i in ix.values:
    res = esc.client.get(index=esc.index, id=i, doc_type=esc.doc_type)

In [5]:
res = esc.fetch_target(ix=ix)

In [7]:
res

,name,street,city,postalcode,duns,countrycode
ix,,,,,,
69e3533d,muehlinghaus hildesheim,klingelholl,wuppertal,42281,,DE
d56af94b,altran gmbh co kg,3 veritaskai,hamburg,21079,,DE